<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn0CQ84bqlshuuufQXk7j4Z8ra0vyCXmk</string>
	<key>GCM_SENDER_ID</key>
	<string>1093817525413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackclub.mission</string>
	<key>PROJECT_ID</key>
	<string>mission-ff8ef</string>
	<key>STORAGE_BUCKET</key>
	<string>mission-ff8ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093817525413:ios:fa27eafab68d2245ed194c</string>
	<key>DATABASE_URL</key>
	<string>https://mission-ff8ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>